{% extends 'base.html'%}


{% block content%}
<div class="container profile">
  <div class="row profile">
    <div class="col-md-4 profile">
      <h3 class="mt-3">{{user.username}}</h3>
      {% if user.profile_pic_path %}
      <img src="{{url_for('static', filename= user.profile_pic_path)}}" alt="" class="rounded-circle card-image mt-3" width="36%" height="40%">
      {% else %}
      <p class="mt-3">No profile picture</p>
      {% endif %}
      <br>
      <br>
      {% if user.bio %}
        ~ {{user.bio}}
        {% else %}
        <p>{{user.username}} has no bio</p>
      {% endif %}
    </div>
    <div class="col-md-4 profile mt-3">
      <h4>Blogs</h4>
      <br>
      {% if blogs %}
        {% for blog in blogs%}
          <div class="card mt-3">
            <div class="card-header">
              <a href="{{url_for('main.home')}}">{{blog.title}}</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <p>No blogs</p>
      {% endif %}
    </div>
    <div class="col-md-4 profile">
      <h4 class="mt-3">Update Profile</h4>
      <form class="mt-5" action="{{url_for('main.update_pic',uname=current_user.username)}}" method="post" enctype = "multipart/form-data">
          <input type="file"  name="photo" class="form-control ml-3" required>
          <input class="btn btn-danger mt-2 ml-3" type="submit">
        </form>
        <br>
      <form action="{{url_for('main.update_profile',uname=current_user.username)}}" method="POST">
         {% if error %}
           <p class="alert-alert-danger text-center  bg-danger error">
             {{error}}
           </p>
         {% endif %}
       <div class="container text-center">
         <textarea type="text"  name="bio" class="form-control ml-1" placeholder="Tell us more about you" required></textarea>
         <input class="btn btn-danger w-100 mt-2 ml-1" type="submit">
       </div>
       </form>
    </div>
  </div>
</div>
{% endblock %}
