{% extends "layout.html" %}
{% block content %}
     <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              </div>
              <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
              <div class="card-footer foot_flex d-block mx-auto">
                    <a href="/like/{{my_post.id}}"><button class="btn btn-success">Like {{my_post.up_vote.count()}}</button></a>
                    <h1>{{upvotes}}</h1>
                    <a href="/dislike/{{my_post.id}}"><button class="btn btn-danger">Dislike {{my_post.down_vote.count()}}</button></a>
                    <h4></h4>
                </div>
            </div>
          </article>
          
   {% endblock content %}
 