{% extends 'base.html' %}

{% block content %}
  {{super()}}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 mt-4 login">
        <div class="card bg-dark text-white">
          <form action="/login" method="POST">
          <div class="card-header">
            {% if error %}
              <p class="alert-alert-danger text-center mt-2 bg-danger">
                {{error}}
              </p>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="text-center">
              <h1 class="mt-5">Login</h1>
              <p>Please fill in this form to login.</p>
              <hr>

              <input size="30cl" type="text" placeholder="Enter Username" name="username" required>
              <br>
              <br>
              <input size="30cl" type="password" placeholder="Enter Password" name="password" required>
              <br>
              <input type="submit" value="Login" class="btn btn-btn-lg bg-danger text-uppercase mt-5 w-50 text-white">
            </div>
            <div class="card-footer mt-3">
              <p class="text-center">Don't have an account?? <a href="{{url_for('auth.signup')}}">Signup</a></p>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
