{% extends 'base.html' %}

{% block content %}
  {{super()}}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="card mt-3 bg-dark signup text-white">
          <form action="/signup" method="POST">
            <div class="card-header">
              {% if error %}
                <p class="alert-alert-danger text-center mt-2 bg-danger">
                  {{error}}
                </p>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="container text-center">
                <h1 class="mt-5">Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <input size="35cl" class=" border-outline-info" type="text" placeholder="Enter Username" name="username" required>
                <br>
                <br>
                <input size="35cl" type="text" placeholder="Enter Email" name="email" required>
                <br>
                <br>
                <input size="35cl" type="password" placeholder="Enter Password" name="password" required>
                <br>
                <br>
                <input size="35cl" type="password" placeholder="ConfirmPassword" name="confirm_password" required>
                <br>
                <input type="submit" value="signup" class="btn btn-btn-lg bg-danger mt-5 w-50 text-white">
              </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
